name: Publish

on:
    workflow_dispatch:

permissions:
    contents: read
    packages: write

jobs:
    build:
        strategy:
            fail-fast: false
            matrix:
                include:
                    - platform: linux/amd64
                      runner: ubuntu-latest
                    - platform: linux/arm64
                      runner: ubuntu-24.04-arm

        runs-on: ${{ matrix.runner }}

        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Prepare
              run: |
                  platform=${{ matrix.platform }}
                  echo "PLATFORM_PAIR=${platform//\//-}" >> $GITHUB_ENV

            - name: Login to ghcr.io
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.repository_owner }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Set up Buildx
              uses: docker/setup-buildx-action@v3

            - name: Build and push by digest
              id: build
              uses: docker/build-push-action@v6
              with:
                  context: .
                  file: ./Dockerfile
                  platforms: ${{ matrix.platform }}
                  tags: ghcr.io/${{ github.repository }}
                  outputs: type=image,push-by-digest=true,name-canonical=true,push=true
                  cache-from: type=gha
                  cache-to: type=gha

            - name: Export digest
              run: |
                  mkdir -p ${{ runner.temp }}/digests
                  digest="${{ steps.build.outputs.digest }}"
                  touch "${{ runner.temp }}/digests/${digest#sha256:}"

            - name: Upload digest
              uses: actions/upload-artifact@v4
              with:
                  name: digests-${{ env.PLATFORM_PAIR }}
                  path: ${{ runner.temp }}/digests/*
                  if-no-files-found: error
                  retention-days: 1

    merge:
        needs: build

        runs-on: ubuntu-latest

        steps:
            - name: Download digests
              uses: actions/download-artifact@v4
              with:
                  path: ${{runner.temp}}/digests
                  pattern: digests-*
                  merge-multiple: true

            - name: Login to ghcr.io
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.repository_owner }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Set up Buildx
              uses: docker/setup-buildx-action@v3

            - name: Metadata
              id: meta
              uses: docker/metadata-action@v5
              with:
                  images: ghcr.io/${{ github.repository }}
                  tags: |
                      type=raw,value=latest
                      type=sha,format=long

            - name: Create manifest list and push
              working-directory: ${{ runner.temp }}/digests
              run: |
                  docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
                  $(printf 'ghcr.io/${{ github.repository }}@sha256:%s ' *)

            - name: Inspect image
              run: |
                  docker buildx imagetools inspect ghcr.io/${{ github.repository }}:${{ steps.meta.outputs.version }}

            - name: Cleanup
              uses: actions/delete-package-versions@v5
              with:
                  package-name: ${{ github.event.repository.name }}
                  package-type: container
                  min-versions-to-keep: 3
